# needed for federation
DOMAIN=recipes.example.com

# needs to be generated with rails secret
SECRET_KEY_BASE=

# used for sending email, needed for account confirmation and etc
SMTP_SERVER=
SMTP_PORT=
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_AUTH_METHOD=
SMTP_OPENSSL_VERIFY_MODE=
SMTP_FROM_ADDRESS=

# If using s3 (or similar) to store media
S3_ENABLED=true

# Aws credentials and information, only if s3 enabled
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_REGION=
S3_BUCKET=

# If using cloudfront or something like that to serve media
CDN_HOST=
