<div class="container">
  <div class="section">
    <div class="row columns is-multiline">
    <% @recipes.each do |recipe| %>
      <div class="column is-one-quarter">
        <div class="card medium round">
          <div class="card-image ">
            <figure class="image">
              <img src="https://source.unsplash.com/Jy6luiLBsrk" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="subtitle is-5 no-padding ellipsed-title"><%= link_to recipe.title, recipe %></p>
              </div>
            </div>
            <div class="content">
              <p class="ellipsed-info"><%= recipe.info %></p>
              <p class="is-pulled-right"><small><%= l(recipe.created_at.to_date) %></small></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= paginate @recipes %>
  </div>
</div>
