// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipe-photo {
  background-color: #fff;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.i-links, .ig-links {
  margin-top: 12px;
  margin-bottom: 12px;
}
